.my-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #181818 !important;
}

.canvas-cursor-main {
  position: relative;
  height: 100vh;
  width: 80vw;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}