
/**/
.body-tag {
  /* background-image: url('mant1.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  padding: 30px;
  background-color: rgb(29, 29, 29);
}

.body-tag a {
  text-decoration: none;
}

.back-button-err {
  background-color: rgb(43, 131, 87);
  color: azure;
  cursor: pointer;

  padding: 10px 15px;
  border-radius: 5px;
}

.error-404 {
  font-size: 10rem;
}

.title-error-main {
  text-align: center;
  font-size: 5rem;
  color: aliceblue;
}

.title-error-description {
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
}

.title-error-name {
  text-align: center;
  font-weight: bold;
  color: rgba(139, 92, 184, 0.767);
  font-size: 8rem;
  color: aliceblue;
}


.gears {
  position: relative;
  margin: 40px auto;
  width: auto;
}

.gear {
  position: relative;
  z-index: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
}

.gear:before {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  content: "";
  border-radius: 50%;
  background: rgb(29, 29, 29);
}

.gear:after {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 3;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  background: rgb(29, 29, 29);
}

.gear.one {
  left: -130px;
}

.gear.two {
  top: -75px;
}

.gear.three {
  top: -235px;
  left: 130px;
}

.gear .bar {
  position: absolute;
  left: -15px;
  top: 50%;
  z-index: 0;
  width: 150px;
  height: 30px;
  margin-top: -15px;
  border-radius: 5px;
  background: white;
}

.gear .bar:before {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  content: "";
  border-radius: 2px;
  background: rgb(29, 29, 29);
}

.gear .bar:nth-child(2) {
  transform: rotate(60deg);
  transform: rotate(60deg);
}

.gear .bar:nth-child(3) {
  transform: rotate(120deg);
  transform: rotate(120deg);
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes clockwiseError {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(30deg);
  }

  40% {
    transform: rotate(25deg);
  }

  60% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anticlockwiseErrorStop {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-30deg);
  }

  60% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anticlockwiseError {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-30deg);
  }

  40% {
    transform: rotate(-25deg);
  }

  60% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.gear.one {
  animation: anticlockwiseErrorStop 2s linear infinite;
}

.gear.two {
  animation: anticlockwiseError 2s linear infinite;
}

.gear.three {
  animation: clockwiseError 2s linear infinite;
}

.loading .gear.one,
.loading .gear.three {
  animation: clockwise 3s linear infinite;
}

.loading .gear.two {
  animation: anticlockwise 3s linear infinite;
}